<div class="container" [ngSwitch]="tab">
	{{loadingMsg}}
	<h3>Tabs</h3>
	<ul class="nav nav-tabs">
		<li class=" nav-item">
			<a (click)="switchTab('routes')"
       class="nav-link" 
        [ngClass]="{active:tab==='routes'}"
       href="#">Subway Routes</a>
		</li>
		<li class=" nav-item">
			<a (click)="switchTab('bus_routes')"
       class="nav-link" 
        [ngClass]="{active:tab==='bus_routes'}"
       href="#">Bus Routes</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" 
      [ngClass]="{active:tab==='stops'}"

      (click)="switchTab('stops')">stops</a>
		</li>

	</ul>
	
	<app-routes [cur_routes] ='mbtaSubwayRoutes' *ngSwitchCase="'routes'"> </app-routes>
	<app-schedules [cur_schedule] = 'mbtaSchedule' *ngSwitchCase="'stops'"> </app-schedules>
	<app-bus-routs [cur_routes] = 'mbtaSchedule' *ngSwitchCase="'bus_routes'"> </app-bus-routs>

</div>